#box_pagamento_1{
	width:1000px;
	height:auto;
	background:#FFF;
	margin:5px auto 5px auto;
	border:2px solid #CCC;
	border-radius:5px;
	text-decoration:none;
	text-transform:none;
	font:15px Arial, Helvetica, sans-serif;
	}
#box_pagamento_1 h1{
	font:15px Arial, Helvetica, sans-serif;
	margin:10px;
	}
#box_pagamento_1 table{
	font:11px Arial, Helvetica, sans-serif;
	margin:0;
	text-align:center;
	text-transform:uppercase;
	}
#box_pagamento_1 .table{
	font:10px Arial, Helvetica, sans-serif;
	margin:0;
	background:#F90;
	border:3px solid #066;
	text-align:center;
	text-transform:uppercase;
	border-radius:5px;
	}
