body{background:#3C0C00; padding:0; margin:0; text-transform:uppercase;}

#topo{
	width:1000px;
	height:60px;
	margin:auto;
	padding:0;
	border:0px solid #FFF;
	}
	
#logo_topo{
	float:left;
	width:150px;
	height:80px;
	margin:auto;
	padding:0;
	}
	
#busca_principal{
	float:left;
	width:600px;
	height:80px;
	margin:auto;
	padding:0;
	}
#busca_principal .input1{
	float:left;
	width:480px;
	height:58px;
	text-align:center;
	color:#900;
	font:50px Arial, Helvetica, sans-serif;
	border:1px solid #CCC;
	margin:8px 5px 5px 5px;
	padding:0;
	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:0;
	}
#busca_principal .input2{
	float:left;
	width:108px;
	height:66px;
	margin:6px 0 0 0;
	padding:0;
	border:0;
	background:url(../img/button.png);
	}
	
#informacoe{
	float:left;
	text-align:center;
	width:243px;
	height:80px;
	margin:0 0 0 5px;
	padding:0;
	}
#informacoe h1{
	font:12px Arial, Helvetica, sans-serif;
	color:#CCC;
	}
	
	
#busca_produto{
	float:left;
	width:1000px;
	height:60px;
	margin:0 0 -7px 0;
	padding:0;
	}
#busca_produto .input1{
	float:left;
	width:850px;
	height:35px;
	text-align:center;
	color:#900;
	font:30px Arial, Helvetica, sans-serif;
	border:1px solid #CCC;
	margin:5px 5px 5px 5px;
	padding:0;
	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:0;
	}
#busca_produto .input3{
	float:left;
	width:50px;
	height:35px;
	text-align:center;
	color:#900;
	font:30px Arial, Helvetica, sans-serif;
	border:1px solid #CCC;
	margin:5px 5px 5px 5px;
	padding:0;
	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:0;
	}
#busca_produto .input2{
	float:left;
	width:72px;
	height:40px;
	margin:3px 0 0 0;
	background:url(../img/buscar_produto.png);
	border:1px solid #CCC;
	}
	
	
	
#box_corpo{
	width:1000px;
	height:500px;
	border:0px solid #CCC;
	margin:5px auto auto auto;
	}
	
#box_cliente{
	float:left;
	width:480px;
	text-align:center;
	height:113px;
	margin:0 auto 0 auto;
	background:#000;
	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:5px;
	}

#box_cliente h1{
	float:left;
	width:480px;
	font:40px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#690;
	text-align:center;
	margin:3px 0 3px 3px;
	}
#box_cliente .h1{
	font:40px Arial, Helvetica, sans-serif;
	color:#990;
	margin:15px 0 0 0;
	}

	
#box_compras{
	float:right;
	width:510px;
	height:440px;
	overflow:auto;
	margin:0 0 0 auto;
	color:#CCC;
	background:#000;
	font:10px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	border:1px solid #999;;
	}
#box_compras table{
	text-align:center;
	font:10px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	}
#box_compras input{
	width:15px;
	text-align:center;
	background:#000;
	color:#CCC;
	border:1px solid #000;
	}
#box_compras .a_desconto{
	text-decoration:none;
	color:#000;
	}
#box_compras .a_desconto:hover{
	text-decoration:underline;
	color:#999;
	}
	
#valor_compras{
	float:left;
	width:480px;
	height:90px;
	color:#999;
	margin:5px auto 0 auto;
	background:#000;
	border:1px solid #CCC;
	}
#valor_compras h1{
	float:left;
	text-align:center;
	width:480px;
	font:45px Arial, Helvetica, sans-serif;
	color:#6C0;
	margin:3px 0 3px 3px;
	}		
#valor_compras .strong3{
	color:#F00;
	margin:0 0 0 0;
	}
#valor_compras h2{
	float:left;
	text-align:center;
	width:480px;
	font:20px Arial, Helvetica, sans-serif;
	color:#CCC;
	margin:-3px 0 3px 3px;
	}		

	
#avisos{
	float:left;
	width:480px;
	height:227px;
	margin:5px auto 0 auto;
	background:#000;
	font:12px Arial, Helvetica, sans-serif;
	border:1px solid #CCC;
	}
#avisos h1{
	float:left;
	text-align:center;
	width:460px;
	font:26px Arial, Helvetica, sans-serif;
	color:#090;
	text-decoration:underline;
	margin:10px 0 3px 3px;
	}	
#avisos h2{
	float:left;
	text-align:center;
	width:460px;
	font:15px Arial, Helvetica, sans-serif;
	color:#660;
	margin:-5px 0 15px 3px;
	}	
	

#rodape{
	width:1000px;
	height:20px;
	margin:auto;
	font:12px Arial, Helvetica, sans-serif;
	padding:0;
	text-align:center;
	color:#FFF;
	border:0px solid #FFF;
	}