#box_pagamento_1{
	width:1000px;
	height:auto;
	background:#000;
	text-align:center;
	margin:5px auto 5px auto;
	border:1px solid #222;
	text-transform:uppercase;
	color:#FFF;
	border-radius:0;
	font:12px Arial, Helvetica, sans-serif;
	}
#box_pagamento_1 h1{
	font:18px Arial, Helvetica, sans-serif;
	margin:10px;
	text-align:left;
	}
#box_pagamento_1 .table{
	font:12px Arial, Helvetica, sans-serif;
	}
#box_pagamento_1 .table td{
	font:12px Arial, Helvetica, sans-serif;
	border:1px solid #000;
	border-radius:0;
	}

