#box_pagamento_1{
	width:1000px;
	height:auto;
	color:#CCC;
	background:#000;
	margin:5px auto 5px auto;
	border:1px solid #000;
	border-radius:0;
	text-decoration:none;
	text-transform:uppercase;
	font:12px Arial, Helvetica, sans-serif;
	}
	
#box_pagamento_1 input{
	border:0px;
	}

#box_pagamento_1 select{
	border:0px;
	}
