#box_pagamento_1{
	width:1000px;
	height:auto;
	background:#FFF;
	margin:5px auto 5px auto;
	border:2px solid #CCC;
	text-transform:none;
	border-radius:10px;
	}
#box_pagamento_1 h1{
	font:20px Arial, Helvetica, sans-serif;
	margin:10px;
	color:#00F;
	}
#box_pagamento_1 table{
	font:12px Arial, Helvetica, sans-serif;
	margin:5px;
	border:2px solid #000;
	background:#E9F8E9;
	border-radius:5px;
	}