#box{
	font:12px Arial, Helvetica, sans-serif;
	}
#box select{
	width:100px;
	padding:3px;
	font:12px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	}
#box .input{
	width:60px;
	padding:3px;
	}