#box{
	font:12px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	}
#box h2{
	font:18px Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	}
#box table{
	text-align:center;
	}
#box table td{
	border:1px solid #CCC;
	border-radius:5px;
	}