#box{
	}
	
#box h1{
	font:18px Arial, Helvetica, sans-serif;
	}
#box h2{
	font:18px Arial, Helvetica, sans-serif;
	margin:10px;
	}
#box h3{
	font:12px Arial, Helvetica, sans-serif;
	margin:10px;
	}
#box .input1{
	margin:10px 10px 20px 350px;
	font:12px Arial, Helvetica, sans-serif;
	color:#CCC;
	text-align:center;
	padding:10px;
	width:350px;
	height:20px;
	border:1px solid #CCC;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
#box .input2{
	margin:10px 10px 10px 0;
	cursor:pointer;
	font:12px Arial, Helvetica, sans-serif;
	color:#FFF;
	background:#999;
	padding:10px;
	width:80px;
	height:42px;
	border:1px solid #CCC;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
#box table{
	font:12px Arial, Helvetica, sans-serif;
	color:#666;
	margin:10px;
	padding:5px;
	border:1px solid #000;
	}
#box input{
	font:12px Arial, Helvetica, sans-serif;
	width:205px;
	padding:3px;
	height:18px;
	border:1px solid #CCC;
	}
#box select{
	font:12px Arial, Helvetica, sans-serif;
	width:205px;
	padding:3px;
	height:25px;
	border:1px solid #CCC;
	}
#box .input{
	font:12px Arial, Helvetica, sans-serif;
	width:100px;
	padding:3px;
	cursor:pointer;
	height:40px;
	border:1px solid #CCC;
	}