#box{
	font:12px Arial, Helvetica, sans-serif;
	color:#999;
	}
#box table{
	font:12px Arial, Helvetica, sans-serif;
	color:#666;
	}
#box input{
	font:12px Arial, Helvetica, sans-serif;
	color:#666;
	padding:3px;
	height:20px;
	border:1px solid #CCC;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
#box input:hover{
	border:1px solid #06F;
	}
#box .input{
	font:12px Arial, Helvetica, sans-serif;
	color:#666;
	padding:3px;
	height:28px;
	cursor:pointer;
	border:1px solid #CCC;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
#box .input:hover{
	border:1px solid #999;
	}
	
#box_calculado{
	font:12px Arial, Helvetica, sans-serif;
	color:#999;
	width:900px;
	height:100px;
	border:1px solid #999;
	overflow:auto;
	}