body{padding:0; margin:0; font:12px Arial, Helvetica, sans-serif; text-align:left;}

body h1{
	font:12px Arial, Helvetica, sans-serif;
	}
body select{
	font:12px Arial, Helvetica, sans-serif;
	width:310px;
	padding:3px;
	color:#666;
	height:23px;
	}

body .input{
	width:100px;
	padding:5px;
	height:30px;
	background:#FFF;
	border:1px solid #333;
	font:10px Arial, Helvetica, sans-serif;
	color:#000;
	cursor:pointer;
	border:1px solid #000;
	margin:10px 0 0 5px;
	}

