#box_cadastro_de_cliente{
	width:1200px;
	height:auto;
	}
#box_cadastro_de_cliente h1{
	margin:10px;
	font:18px Arial, Helvetica, sans-serif;
	}
#box_cadastro_de_cliente input{
	margin:10px 10px 20px 350px;
	font:12px Arial, Helvetica, sans-serif;
	color:#CCC;
	text-align:center;
	padding:10px;
	width:350px;
	height:20px;
	border:1px solid #CCC;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
#box_cadastro_de_cliente .input{
	margin:10px 10px 10px 0;
	cursor:pointer;
	font:12px Arial, Helvetica, sans-serif;
	color:#FFF;
	background:#999;
	padding:10px;
	width:80px;
	height:42px;
	border:1px solid #CCC;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
#box_cadastro_de_cliente .a{
	float:left;
	padding:5px;
	background:#666;
	color:#FFF;
	text-decoration:none;
	margin:0 -85px -3px 90px; 
	font:11px Arial, Helvetica, sans-serif;
	border:1px solid #000;
	}
#box_cadastro_de_cliente .a:hover{
	background:#999;
	}
#box_cadastro_de_cliente table{
	margin:10px 10px 10px 45px;
	font:12px Arial, Helvetica, sans-serif;
	color:#666;
	border:1px solid #CCC;
	padding:10px;
	}
#box_cadastro_de_cliente h3{
	font:12px Arial, Helvetica, sans-serif;
	color:#CCC;
	margin:0;
	float:left;
	}
#box_cadastro_de_cliente img{
	float:left;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
#box_cadastro_de_cliente .table{
	font:12px Arial, Helvetica, sans-serif;
	color:#CCC;
	margin:0 15px 5px -15px;
	float:left;
	border:0;
	}
#box_cadastro_de_cliente .img{
	float:left;
	margin:0 5px 0 0;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}

